---
import BaseLayout from "../../layouts/BaseLayout.astro";
import type {Page, GetStaticPathsOptions} from "astro";
import PostSummary from "../../components/PostSummary.astro";

export async function getStaticPaths({paginate}: GetStaticPathsOptions) {
    const allPosts = await Astro.glob("../posts/*.md");
    return paginate(allPosts.reverse(), {pageSize: 6});
}
const pageTitle = "Blog";
const {page} = Astro.props;
---

<BaseLayout pageTitle={pageTitle}>
    <div class="blog-container">
        {
            page.data.map((post) => {
                return <PostSummary class="blog-card" post={post}/>
            })
        }
    </div>

    <div class="pagination">
        {page.url.prev ? <a href="../blog"> {"<<"} </a> : null}
        {page.url.prev ? <a href={page.url.prev}> {page.currentPage - 1} </a> : null}
        <a href={page.url.current}>{page.currentPage} </a>
        {page.url.next ? <a href={page.url.next}> {page.currentPage + 1} </a> : null}
        {page.url.next ? <a href=`../blog/${Math.ceil(page.total / page.size)}`> {">>"} </a> : null}
    </div>
</BaseLayout>
<style>
    .blog-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    .blog-card {
        width: 50%;
        height: 100%;
    }

    .pagination {
        margin-top: 20px;
        text-align: center;
    }

    .pagination a {
        margin: 0 10px;
        text-decoration: none;
    }
</style>
